<div class="log">
    <h1>Iniciar Sesión</h1>
    <h4>Por favor, ingrese sus datos:</h4>
    
    
    <div class="input-group mb-3">
        
        <input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Constraseña">
        
      </div>
      <button type="submit" class="btn btn-dark">Ingresar</button>
    </div>
