<div class="card">
    <div>
        <i class="far fa-edit fa-2x bannr-edit"></i>
        <img [src]="miPortfolio.bannerImage" alt="banner" class="banner img-fluid">
        
    </div>
    <div class="foto-perfil">
        <i class="far fa-edit fa-2x"></i>
        <img [src]="miPortfolio.profileImage" alt="descripcion" class="img-fluid rounded-circle"  >
        
    </div>

    <div class="acercade">
        <div class="titulo">
            <h4>{{miPortfolio.position}}</h4>
            <i class="far fa-edit"></i>
        </div>
        <div class="nombre">
            
            <div class="edit-tx">
                <h1><strong>{{miPortfolio.name}}</strong></h1> 
                <p>{{miPortfolio.profileInfo}}</p>
            </div>
            <div class="iconos">    
                <i class="far fa-edit"></i>
                
            </div>
        </div>
    </div>
       

</div>