*{font-family:Helvetica, Verdana, sans-serif;
           /* 'Cambria', Helvetica, Verdana;*/
            box-sizing: border-box;}

.cab {
        padding: 10px;
        color: white;
        max-height: 90px;
        }
        
.container-fluid{
    margin: 0 auto;
    
    padding-bottom: 40px;

}

body {
        min-width: 1200px !important;}

.container, .card {background-color: #ECECFB   !important ;
                    border: none !important;}


.container {box-shadow: 15px 16px rgb(94, 94, 99);
            padding-top: 100px;}


.tarjeta h1 {font-size: 30px;
            background-color: #c3c3fa !important;
            padding: 7px;
            margin-bottom: 40px !important;
            }

.acercade h1 {font-size: 50px;
            }

.card  h1 {color:#333E74; }

.botones {text-align: right;}


.banner { /*border-radius: 32px 32px 0 0;*/
    
         z-index: -1;}

.bannr-edit {padding-top: 10px;
            
            position: absolute;
            margin-left: 97%;
            }

.foto-perfil > i {position:absolute;
                align-content: center;
                margin-left: 43%; /*(200px - 36px)/2 */
                margin-top: 40%;
        }



.foto-perfil {border-radius: 50% ;
    border-style: groove;
    border-color: #333E74;
    width: 20%;
    height: auto;
    margin-top: -10%;
    margin-left: 2%;
    z-index: 1;
    position:relative;
    display:inline-block;
    align-items: center;
}

.acercade {display:flex;
            }

.titulo {width: 500px;
        margin-top: 20px;
        padding-left: 15px;
        display:flex;}

.titulo > h4 {padding-right: 10px;}

.nombre {padding-right: 100px;
            display: flex;}
            
.nombre > .edit-tx {width: 82¡3%;
                    height: auto;}



h6 {font-style: italic;}

h5 {font-weight: bold !important;}

.card > h1 {padding-left: 20px;
            margin-bottom: 25px;}

.acercade p {font-style: italic;}