<header class=" bg-dark text-uppercase fixed-top">
    <div class="row align-items-center cab " >  
    
        <div class="col-1">
            <img src="https://imagizer.imageshack.com/img922/6200/AleGM7.png" alt="logo AP" class="rounded img-fluid">
        </div>
        <div class="col-8" style="text-align: left;">
            <h5>#YoProgramo (Argentina Programa) </h5>
        </div>
    
        <div class="col-3 botones" >
            <a href="https://www.instagram.com/camilavictoria3045/" target="_blank"><button type="button" class="btn btn-dark"><i class="fab fa-instagram fa-2x"></i></button></a>
       
              <a href="https://www.linkedin.com/in/camila-losada-b6951b136/" target="_blank"><button type="button" class="btn btn-dark"><i class="fab fa-linkedin fa-2x"></i></button></a>
            
            <button type="button" class="btn btn-primary">Logueo</button>
        </div>
        
    </div>

</header>
